<div class="container-fluid card login-container">
  <h3 class="text-center">Create an account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="form-firstname" class="form-label">Firstname:</label>
    <input id="form-firstname" [(ngModel)]="registerRequest.firstname" class="form-control" type="email"
           placeholder="John">
  </div>
  <div class="mb-3">
    <label for="form-lastname" class="form-label">Lastname:</label>
    <input id="form-lastname" [(ngModel)]="registerRequest.lastname" class="form-control" type="email"
           placeholder="Doe">
  </div>
  <div class="mb-3">
    <label for="form-email" class="form-label">Email address:</label>
    <input id="form-email" [(ngModel)]="registerRequest.email" class="form-control" type="email"
           placeholder="name@emaple.com">
  </div>
  <div class="mb-3">
    <label for="form-password" class="form-label">Password:</label>
    <input id="form-password" [(ngModel)]="registerRequest.password" class="form-control" type="password">
  </div>
  <div class="mb-3">
    <label for="form-password-confirm" class="form-label">Confirm password:</label>
    <input id="form-password-confirm" class="form-control" type="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
    </button>
    <div>
      Already have an account?&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">Login</button>
    </div>
  </div>
</div>
